@import '../../../assets/css/_variables';

.footer {
  text-align: center;
  background: $background-color;
}

.footer .icon {
  color: $foreground-color;
}

.footer .logo {
  width: 120px;
  height: 80px;
  color: $foreground-color;
}

.footer .policy {
  background: $background-color-darker;
  color: $foreground-color;
  padding: 10px;
  height: 40px;
}

.footer h1 {
  font-size: 16px;
  font-weight: bold;
}

.footer h2 {
  font-size: 14px;
  color: $foreground-color;
}
