<div class="row justify-content-center">

  <div id="carousel-events" class="carousel slide" data-interval="false" data-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor="let image of images; let i = index" data-target="#carousel-events" data-slide-to="0" [ngClass]="{'active': i === 0 }" ></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div *ngFor="let image of images; let i = index" class="carousel-item" [ngClass]="{'active': i === 0 }">
        <img class="d-block img-fluid" src="../../assets/images/events/{{image}}" alt="{{image}}">
      </div>
    </div>

    <a class="carousel-control-prev" href="#carousel-events" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carousel-events" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>
