<div class="grid-events m-3">
  <header class="header p-4">
    <div class="d-flex align-items-center">
      <mat-icon svgIcon="wine" color="primary"></mat-icon>
      <h1 class="d-inline pl-2"> Des vignerons triés sur le volet. </h1>
    </div>
    <p> Ne ratez plus les dégustations autour de chez vous! Marcel Lavigne sélectionne les meilleurs vins de votre région! </p>
  </header>

  <article class="content">
    <ml-card-event *ngFor="let event of events" [event]="event"> </ml-card-event>
  </article>

  <aside class="sidebar p-4">Sidebar - Map</aside>

</div>
