<div class="grid-events mt-4">
  <header class="header p-2">
    <div class="d-flex align-items-center pb-2">
      <i class="ml-wine"></i>
      <h1 class="d-inline pl-2"> Découvrir les meilleurs vins et spiritueux ! </h1>
    </div>
    <p> Des vignerons triés sur le volet. Marcel Lavigne sélectionne et vous permet de goûter les meilleurs vins de votre région! </p>
  </header>

  <article class="content">
    <ml-card-event *ngFor="let event of events" [event]="event"> </ml-card-event>
  </article>

  <aside class="sidebar">Sidebar - Map</aside>

</div>
