<html>
<body>
<h3>Hello ${user.firstName} ${user.lastName},</h3>

You have requested a password reinitialization.<br/>
<br/>
Click on the link below to reset your password : <a href="${mailRecoveryUrl}">${mailRecoveryUrl}</a><br/>
<br/>
If you're not concerned by this request, you can ignore this message.</br>Regards,
<br/>
</body>
</html>