@import "./assets/_variables.scss";

@import url('https://fonts.googleapis.com/css?family=Nunito:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-size:13px;
  font-family: 'Roboto', sans-serif;
}
.title {
  font-family: 'Nunito', sans-serif;
}
