@import '~@angular/material/theming';

// Affectation du thème
@import 'ml-theme.scss';

// Stockage des variables du thèmes
$theme: $ml-theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$warn: map-get($theme, accent);
//$foreground: map-get($theme, foreground);
//$background: map-get($theme, background);

// Définition des variables selon le thème
$primary-color:  mat-color($primary);

$footer-color-darker: #1f2a2f;
$footer-color: #263238;
$footer-color-lighter: #607D8B;
