.mat-slide-toggle-content {
  font: inherit !important;
}

.mat-card {
  font: inherit !important;
}

.mat-form-field {
  font: inherit !important;
}

.mat-button-toggle {
  font: inherit !important;
}
