@import '../../../assets/css/_variables';

.liquor {

}
.liquor .mat-button-toggle-group {
  box-shadow: none;
  border: 1px solid $foreground-color;
  border-radius: 10px;
}

.liquor .mat-button-toggle-group .middle-button{
  border-left: 1px solid $foreground-color;
  border-right: 1px solid $foreground-color;
}

.liquor .mat-button-toggle {
  padding: 10px;
}

.liquor .mat-button-toggle-checked {
  color: $primary-color;
  background: inherit;
}

.liquor i {
  font-size: 4em;
}
