@import '../../../assets/css/_variables';

.liquor {
  margin-bottom: 20px;
}
.liquor .mat-button-toggle {
  color: white;
  padding: 5px;
  border: solid $foreground-color 2px;
  background: $secondary-color;
}

.liquor .mat-button-toggle-checked {
  color: $primary-color;
}

.liquor .mat-icon {
  width: 50px;
  height: 30px;
}
