<div class="container-fluid footer">
  <div class="row align-items-center">
    <div class="col">
      <div>
        <mat-icon svgIcon="logo-grey" class="logo icon"></mat-icon>
      </div>
      <div>
        <mat-icon fontSet="fa" fontIcon="fa-facebook-official" class="icon"></mat-icon>
        <mat-icon fontSet="fa" fontIcon="fa-instagram" class="icon"></mat-icon>
        <mat-icon fontSet="fa" fontIcon="fa-twitter-square" class="icon"></mat-icon>
      </div>
    </div>

    <div class="col">
      <h1 class="title"> Qui sommes-nous </h1>
      <h2> A propos </h2>
      <h2> Carrière </h2>
      <h2> Presse </h2>
    </div>
    <div class="col">
      <h1 class="title"> Aide </h1>
      <h2> Devenir Pro </h2>
      <h2> Forum </h2>
      <h2> FAQ </h2>
    </div>
  </div>
  <div class="row justify-content-md-center policy">
    <span i18n class="title">Conditions générales d'utilisation</span>
  </div>
</div>
