@import '../../../assets/css/_variables';

.footer {
  height: 200px;
  text-align: center;
  background: $footer-color;
}

.footer .icon {
  color: $footer-color-lighter;
}

.footer .logo {
  width: 120px;
  height: 80px;
}

.footer .row {
  height: 100%;
}

.footer .policy {
  background: $footer-color-darker;
  color: $footer-color-lighter;
  padding: 10px;
  height: 40px;
}

.footer h1 {
  font-size: 16px;
  font-weight: bold;
  color: $footer-color-lighter;
}

.footer h2 {
  font-size: 14px;
  color: white;
}
