@import '../../../assets/css/_variables';

.header {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  background: $background-color;
  color: $foreground-color;
}

.header .logo {
  padding: 10px;
  font-size: 3em;
  color: $primary-color;
  cursor: pointer;
}

.header .show-menu {
  cursor: pointer;
  margin-left: 15px;
}
