<div class="p-2 header d-flex flex-column flex-md-row">
  <div class="d-flex align-items-center">
    <a routerLink="home">
      <mat-icon svgIcon="logo" class="logo" color="primary"></mat-icon>
    </a>

    <span class="title ml-auto mr-auto"> Se rencontrer par le vin </span>
  </div>

  <div class="ml-auto d-flex align-items-center">
    <button color="primary" mat-button routerLink="create-event">
    <mat-icon>add_circle_outline</mat-icon>
      Créer un évènement
    </button>

    <span class="welcome" i18n>Bienvenue,</span>
    <img class="avatar" src="../../assets/images/avatar.jpg" alt="Avatar">
    <span>Emmanuel</span>
    <button color="primary" mat-icon-button>
      <mat-icon>view_headline</mat-icon>
    </button>
  </div>
</div>
