@import '../../../assets/css/_variables';

.search #advancedSearch {
  margin-top: 15px;
}

.search .show-advanced {
  cursor: pointer;  
}

.search .mat-slider-horizontal {
  width: 100%;
  min-width: 200px;
}
