<div class="search mt-2">

  <header class="header p-2">
    <div class="d-flex align-items-center">
      <mat-icon color="primary">local_bar</mat-icon>
      <h1 class="d-inline pl-2"> Rechercher des évènements autour de chez vous!  </h1>
    </div>
  </header>

  <div class="d-flex align-items-center ">
    <div class="input-group col">
      <input type="text" class="form-control" placeholder="Ex: Chardonnay, Champagne, Montpellier">
    </div>

    <div class="d-inline-flex align-items-center">
      <button mat-raised-button color="primary">Rechercher</button>
      <mat-icon (click)="rotate()" [@rotatedState]='state' class="show-advanced" color="primary" data-toggle="collapse" href="#advancedSearch" aria-expanded="false" aria-controls="advancedSearch"> expand_more </mat-icon>
    </div>
  </div>

  <div id="advancedSearch" class="collapse pt-3">
    <div class="p-2 row">
      <div class="col">
        <h2> Type de dégustation </h2>
        <ml-liquor-toggle></ml-liquor-toggle>
      </div>
      <div class="col">
        <div class="row">
          <div class="col"> <h2> Rayon </h2> </div>
          <div class="col text-right"> <mat-slide-toggle color="primary" checked="true"> Autour de moi </mat-slide-toggle> </div>
        </div>
        <div class="row">
          <div class="col align-items-center d-inline-flex">
            <span> 1km </span> <mat-slider min="1" max="50" step="1" value="20" color="primary"></mat-slider> <span> 50km </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
