@import '../../../assets/css/_variables';

.events {
  color: $foreground-color;
}

.events .date {
  color: $primary-color;
}

.events .star {
  font-size: 0.9em;
  width: 12px;
  height: 12px;
}

.events .mat-card {
  box-shadow: none;
}

.events .title {
  font-size: 1.4em;
}

.events .mat-card-actions {
  margin-left: 15px;
  height: 100px;
}

.events .mat-card-actions button {
  margin-right: 15px;
}

#carousel-events .img-fluid {
  width: 800px;
  height: 600px;
  margin: auto;
}

#carousel-events .mat-icon {
  font-size: 4em;
}
.carousel-indicators li.active {
  background-color: $primary-color;
}
