<div class="header">
  <img class="logo" src="../../assets/images/logo.png" alt="Marcel Lavigne">
  <span id="title" i18n>Se rencontrer par le vin</span>
  <div class="controls">
      <ml-button-icon [icon]="'add_circle_outline'" [text]="'Créer un évènement'"></ml-button-icon>
      <span class="welcome" i18n>Bienvenue,</span>
      <img class="avatar" src="../../assets/images/avatar.jpg" alt="Avatar">
      <span class="firstname">Emmanuel</span>
      <i class="material-icons sidebar">view_headline</i>
  </div>
</div>
