<div class="header">
  <mat-icon svgIcon="logo" class="logo" color="primary"></mat-icon>
  <span id="title" i18n>Se rencontrer par le vin</span>
  <div class="controls">
     
      <button mat-button color="primary">
    	<mat-icon aria-label="Trouver un évènement">add_circle_outline</mat-icon>   
    	Créer un évènement 
  	  </button>  	    

      <span class="welcome" i18n>Bienvenue,</span>
      <img class="avatar" src="../../assets/images/avatar.jpg" alt="Avatar">
      <span class="firstname">Emmanuel</span>
      <i class="material-icons sidebar">view_headline</i>
  </div>
</div>
