<div class="container-fluid search">
  <div class="row align-items-center">
    <div class="col">
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Trouver un évènement">
      </mat-form-field>
    </div>
    <div class="col-2">
      <button mat-raised-button color="primary">Rechercher</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>        
            <mat-panel-description> Afficher les paramètres avancées </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
