@import '_variables.scss';

.label {
  color: $foreground-color;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  margin-left: 25px;
}

.mat-slide-toggle-label {
  color: $foreground-color;
}

.mat-form-field-infix {
  font-size: 1.4em;
  margin-left: 10px;
}

.mat-horizontal-stepper-header-container {
  margin-bottom: 30px
}
