.mat-toolbar-row, .mat-toolbar-single-row {
  height: auto;
}

.mat-slide-toggle-content {
  font: inherit !important;
}

.mat-toolbar {
  font: inherit !important;
}

.ml-theme .mat-stepper-horizontal, .ml-theme .mat-stepper-vertical {
  background: $background-color !important;
}
