.mat-toolbar-row, .mat-toolbar-single-row {
  height: auto;
}

.mat-slide-toggle-content {
  font: inherit !important;
}

.mat-toolbar {
  font: inherit !important;
}


.mat-card {
  font-family: 'Nunito', sans-serif;
}

.mat-form-field {
  font-family: 'Nunito', sans-serif;
}

.mat-button-toggle {
  font-family: 'Nunito', sans-serif;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-fab, .mat-mini-fab {
  font-family: 'Nunito', sans-serif;
}

.mat-stepper-vertical, .mat-stepper-horizontal {
  font-family: 'Nunito', sans-serif;
}
