@import '~@angular/material/theming';

// Import fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// always include only once per project
@include mat-core();

// import our custom themes
@import 'ml-theme.scss';
@import 'ml-dark-theme.scss';

@import '_variables.scss';
@import 'reset.scss';
@import 'form.scss';
@import 'icomoon.css';

// Several themes
.ml-theme {
  @include angular-material-theme($ml-theme);
}

.ml-dark-theme {
  @include angular-material-theme($ml-dark-theme);
}

body {
  font-size:13px;
  font-family: 'Nunito', sans-serif;
  background: $background-color;
  color: $foreground-color;
}

h1 {
  font-weight: bold;
  font-size: 1.5em;
  color: $primary-color;
}

h2 {
  font-size: 1.3em;
  color: $primary-color;
}

h3 {
  font-size: 1.1em;
  color: $secondary-color;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

.mat-snack-bar-container {
  background: $secondary-color !important;
  color: $primary-color !important;
}
